@import '~antd/dist/antd.css';

body {
    background: #E0E3EF;
    background-size: 300% 300%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;
  }

  .full-screen {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  //you need to setup file-loader in webpack before you can use images
    // background: url("../../assests/image/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    //_ works with row or column_
  
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    @media (max-width: 767px) {
      padding: 20px;
    }
  }

  .menuBox {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    height: 80px;
    box-shadow: 0px 0px 11px #ccc;
    background:#fff;
    @media (max-width: 767px) {
        position:absolute;
        left:0px;
        width:100%;
        background:#fff;
        z-index: 100;
        top:82px;
        padding-left:0px;
        padding-bottom:30;
        text-align:center;
    };
    @media(min-width:768px) and (max-width: 991px) {
        padding-left:0px;
    };
}
  .titleLogo {
    position: relative;
    margin-left: 130px;
    font-size: 18px;
    color: #47B8E4;
    font-weight: 600;
    font-family: 'Prompt', sans-serif;
  }

  .containerScreen {
      position: relative;
      background-color: #262A41;
      width: 1400px;
      height: 1000px;
      border-radius: 15px;
      padding: 10px;
      box-shadow: 5px 10px 18px #888888;
      @media (max-width: 767px) {
        max-width: 100%;
        max-height: 600px;
        overflow: scroll;
      }
  }

  .todolistContainer {
      position: absolute;
      background-color: #fff;
      border-radius: 15px;
      min-width: 690px;
      min-height: 980px;
      padding: 40px;
      @media (max-width: 767px) {
        height: 300px;
        width: 281px;
        min-width: 150px;
        min-height: 244px;
        overflow-y: scroll;
        padding: 20px;
      }
  }

  .round {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0.166667%;
    flex: 0 0 0.166667%;
    max-width: 0.166667%;
    margin-bottom: 20px;
    line-height: 1.6;
    @media (max-width: 767px) {
      top: 10px
    }
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    @media (max-width: 767px) {
      height: 15px;
      width: 15px;
    }
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 12px;
    @media (max-width: 767px) {
      height: 8px;
      width: 8px;
      top: 3px;
      left: 3px;
    }
  }

  .textCheckbox {
    cursor: pointer;
    margin-left: 20px;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 54.16666667%;
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
    text-align: left;
    padding-left: 20px;
    @media (max-width: 767px) {
      padding-left: 5px;
      font-size: 12px;
      color: #fff
    }
  }

  .todoStatusContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 42.166667%;
    flex: 0 0 42.166667%;
    max-width: 42.166667%;
    @media (max-width: 767px) {
      -ms-flex: 0 0 35.166667%;
      flex: 0 0 35.166667%;
      max-width: 35.166667%;
    }
  }

  .todoStatus {
    padding: 2px 5px;
    min-width: 100px;
    min-height: 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    @media (max-width: 767px) {
      min-width: 50px;
      font-size: 8px;
      padding: 5px 8px;
    }
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #36D9D8;
    border-color: #36D9D8;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .button-line {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    opacity: 0.8;
    padding: 20px 40px;
    text-decoration: none;
    transition: all 0.5s ease;
    margin: 0 auto;
    display: block;
  
    &:hover {
      opacity: 1;
      background-color: #fff;
      color: grey;
    }
  }

  .whiteDot {
    border-radius: 50%;
    background-color: white;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 35px;
    top: -5px;
    z-index: 10;
    overflow: visible;
    border: 3px solid #262A41;
    @media (max-width: 767px) {
      width: 10px;
      height: 10px;
      right: 50px;
    }
  }

  .letterAvatarContainer {
    z-index: 1;
    width: 80px;
    border-Radius: 12px;
    height: 80px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
      width: 25px;
      height: 25px;
      border-Radius: 5px;
    }
  }

  .circleLetterAvatar {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    border: 15px solid rgba(255,255,255,.3);
    top: 40px;
    right: 40px;
    @media (max-width: 767px) {
      width: 40px;
      height: 40px;
      top: 20px;
      right: 20px;
    }
  }

  .squareLetterAvatar {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 15px solid rgba(255,255,255,.3);
    bottom: 40px;
    left: 40px;
    @media (max-width: 767px) {
      width: 40px;
      height: 40px;
      top: 20px;
      right: 20px;
    }
  }

  .iconBuildContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    background-color: #3C3F54;
    @media (max-width: 767px) {
      width: 25px;
      height: 25px;
      border-radius: 8px;
    }
  }

  .lineBtn {
    color: #1832AB;
    text-decoration: none;
    border: 1px solid #1832AB;
    display: inline-block;
    padding: 0 24px;
    border-radius: 20px;
    line-height: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    margin-top: 12px;
    outline: none;
    margin-left: 6px;
    margin-right: 6px;
    background: #fff;
    :focus {outline: 'none'};
    ::-moz-focus-inner { border:0px; padding: 0px; }
};

  .globalButton {
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0px 34px;
    border-radius: 20px;
    line-height: 35px;
    height: 35px;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
    min-width: 70px;
    background-color: #005099;
    user-select: none;
    background: linear-gradient(160deg, #005099 0%, #0B8FDE 50%, #005099 100%);
    filter: #005099;
    opacity: .9999;
    transition: opacity 0.1s ease-in-out;
    :disabled {
        cursor: default;
        opacity: .5;
    };
    :focus {outline: none}
    ::-moz-focus-inner { border:0px; padding: 0px}
};

  .insideModal {
    padding: 14px 5px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    @media (max-width: 767px) {
        width:auto;
        max-width:800px;
        padding:20px 0;
        display:inline-block;
    };
  }

  .buttonAddStyle {
    background-color: #894FC6;
    border-radius: 13px;
    padding: 12px 18px;
    border: none;
    color: white;
    font-size: 15px;
    box-shadow: 4px 5px 18px #894FC6;
    @media (max-width: 767px) {
      box-shadow: none;
      padding: 12px 80px;
      background-color: #3C3F54;
      box-shadow: 4px 5px 8px #888888;
      border: 2px solid whitesmoke;
      outline: none;
    }
  }

  .mobileListContainer {
    width: 100%;
    max-height: 150px;
    background-color: rgb(60, 63, 84);
    margin-top: 15px;
    border-radius: 8px;
    overflow: scroll;
    text-align: left;
    padding: 8px
  }
  
  @-webkit-keyframes Background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @-moz-keyframes Background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes Background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }